/* :root { */
    /* --background: #232323; */
    /* --lift: #2c2c2c; */
    /* --faded: #838383; */
    /* --accent: 198, 76%; */
    /* --l: 51%; */
    /* --color-primary: hsl(var(--accent),var(--l)) */
  /* } */
  
  /* Body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--background);
    overflow-x: hidden;
  } */
/*   
  Header {
    height: 75px;
    width: 100vw;
    background-color: var(--color-primary);
    padding: 0px 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    box-sizing: border-box;
  } */
  
  