/* .login {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: rgb(252,252,252);
}

.sub-login {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(207,207,207);
    padding-top: 30px;
    border-radius: 60px;
    background-color: white;
}

.imgs {
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

.container-image {
    background-color: rgb(223, 221, 221);
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 115px;
    width: 115px;
    justify-content: center;
}

.account-icon {
    height: 100px;
    width: 100px;
    border-radius: 130px;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
}

/* .mail-icon { */
    /* height: 25px; */
    /* width: 25px; */
    /* position: absolute; */
    /* padding: 14px 0 0 25px; */
    /* border: none; */
    /* outline: none; */
    /* background-color: #fff; */
    
/* } */

/* .password-icon {
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
} */
/* 
.text {
    padding-left: 70px;
    font-size: 20px;
}

.login-btn {
    width: 350px;
    height: 25px;
    border-radius: 60px;
    background-color: #919191;
    color: white;
    font-size: 25px;
    border: none;
    padding-top: 25px;
}

.link {
    font-size: 30px;
    font-weight: 400;
}

a{
    color: blue;
}
 */

 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
 }

 body {
    min-height: 100vh;
    background-color: dodgerblue;
 }

 .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 0.5rem;
 }

 section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
 }
 
 form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
 }

 a, a:visited {
    color: #fff;
 }

 input[type="text"],
 input[type="password"],
 button,
 textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
 }

label, 
button {
    margin-top: 0.5rem;
}

button {
    padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}